<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jgix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NotesActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AttendanceSubjectwise" />
        <activity android:name=".Assignments" />
        <activity android:name=".Studymaterial" />
        <activity android:name=".ReceiptsActivity" />
        <activity android:name=".Events" />
        <activity android:name=".Results" />
        <activity android:name=".Attendance" />
        <activity android:name=".Outpass" />
        <activity android:name=".Suggestion" />
        <activity android:name=".SecurityActivity" />
        <activity android:name=".BugreportActivity" />
        <activity android:name=".DevelopersActivity" />
        <activity android:name=".Settings" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>